.search-bar {
	margin: 20px auto 0 auto;

	text-align: center;

	//position: relative;


	.search-bar-input {
		padding: 5px;
		width: 95%;
		margin: 0 auto;

		font-size: 2em;
	}
}

/*.autocomplete-options {
	width: 95%;
	margin: 0 auto;
	padding-top: 5px;
	text-align: left;
	z-index: 1;
	background-color: white;

	ul {
		list-style: none;
		padding-left: 0;
		text-indent: 5px;

		li {
			border-bottom: solid 1px;
			margin-bottom: 5px;
			padding-bottom: 5px;
		}
	}
}*/