<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wikipedia Search Box</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <script src="settings.js"></script>
    <script src="modules/wikipediaItemClass.js"></script>
    <script src="modules/listModule.js"></script>
    <!--<script src="modules/autocompleteModule.js"></script>-->
    <script src="modules/searchModule.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="wikiSearch" ng-controller="SearchCtrl">

<section class="info-section" ng-class="{'move-to-left': showItems}">
    <div class="page-logo">
         <header class="page-logo-contents">
            <img class="img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/a/ad/WikipediaLogo.PNG" alt="Wikipedia's logo">
            <h1 class="page-logo-contents-text">Wikipedia Search</h1>
         </header>
    </div>

    <div class="search-bar">
        <input type="search"  class="search-bar-input" name="searchBar" autocomplete="off" placeholder="Search" ng-model="searchBar" ng-focus="setSearchBarFocus(true)" ng-blur="setSearchBarFocus(false)" ng-change="checkSearchBar()">
        <!--<datalist id="autocompleteList">
            <option value="{{autocompleteOption}}" ng-repeat="autocompleteOption in autocompleteList">
        </datalist>-->
    </div>
</section>

<section class="items-section" ng-class="{'show-items': showItems}">
    <div class="items-section-list">
        <div class="" ng-show="(itemsFetched && itemsList.length == 0)">
            No matching articles.
        </div>

        <ul>
            <li class="wikipedia-item" ng-repeat="item in itemsList">

            </li>
        </ul>
    </div>
</section>

</body>
</html>